fastapi
uvicorn
httpx
sqlalchemy
pydantic==1.10.7
bcrypt
requests
yahoo_fin
yfinance
scikit-learn
feature_engine
matplotlib
neuralforecast
numpy
pandas
pyts
PyYAML
ray
seaborn
statsforecast
tensorflow
torch
